all:
  hosts:
    SERVER_IP_OR_HOSTNAME:
      ansible_user: root
      ansible_python_interpreter: /usr/bin/python3
      docker_username: YOUR_GITHUB_USERNAME
      docker_password: YOUR_GITHUB_USER_TOKEN_WITH_READ_PACKAGES_SCOPE
      install_dir: /srv/trufi
      hostname: SERVICE_HOSTNAME
      email: CONTACT_EMAIL
